# Theoratical questions

1. What are data structures, and why are they important?
  - Data structures are ways of organizing and storing data so that they can be accessed and modified efficiently. They are important because they help manage large amounts of data, improve performance, and make programs more efficient and easier to understand.

2. Explain the difference between mutable and immutable data types with examples?
  - Mutable data types can be changed after creation (e.g., list, dictionary, set).
Immutable data types cannot be changed once created (e.g., string, tuple, int).

3. What are the main differences between lists and tuples in Python?
  - Lists are mutable, meaning their elements can be modified, while tuples are immutable.
Lists use square brackets [], and tuples use parentheses (). Lists are generally slower but more flexible than tuples.

4. Describe how dictionaries store data?
  - Dictionaries store data as key-value pairs. Each key is unique, and Python uses a hashing mechanism to quickly retrieve the value associated with a key.

5.  Why might you use a set instead of a list in Python?

  - You use a set when you need unique elements and don’t care about order. Sets also provide faster membership testing compared to lists.

6. What is a string in Python, and how is it different from a list?
  -  A string is a sequence of characters, while a list is a collection of any data types. Strings are immutable, whereas lists are mutable.

7. How do tuples ensure data integrity in Python?
  - Tuples are immutable, meaning their contents cannot be changed after creation. This immutability ensures that data remains consistent and protected from accidental modification.  

8. What is a hash table, and how does it relate to dictionaries in Python?
  - A hash table stores data using a hash function to map keys to values for quick access. Python dictionaries are implemented internally using hash tables.

9. Can lists contain different data types in Python?
  - Yes, lists can contain elements of different data types, such as integers, strings, and even other lists.

10. Explain why strings are immutable in Python.
  - Strings are immutable to ensure data consistency, security, and efficiency. Once created, a string’s value cannot change, preventing accidental modification.

11. What advantages do dictionaries offer over lists for certain tasks?
  - Dictionaries provide fast lookups using keys, making them ideal for scenarios where you need to quickly find or update data based on a specific identifier.

12. Describe a scenario where using a tuple would be preferable over a list.
  - Tuples are preferred when you want to store fixed data that shouldn’t change, such as coordinates (x, y) or configuration settings.  

13. How do sets handle duplicate values in Python?
  - Sets automatically remove duplicates . only unique elements are stored, regardless of how many times they’re added.

14. How does the “in” keyword work differently for lists and dictionaries?
  - In a list, in checks whether a value exists among the elements.
In a dictionary, in checks whether a key exists, not a value.

15. Can you modify the elements of a tuple? Explain why or why not.
  - No, you cannot modify a tuple’s elements because tuples are immutable  ,once created, their content cannot be changed or updated.  

16. What is a nested dictionary, and give an example of its use case.
  - A nested dictionary is a dictionary within another dictionary.  
    ex: students = {"John": {"age": 20, "grade": "A"}}

17. Describe the time complexity of accessing elements in a dictionary.
  - Accessing elements in a dictionary has an average time complexity of O(1) due to hashing, meaning lookups are very fast.

18. In what situations are lists preferred over dictionaries?
  - Lists are preferred when the order of elements matters, or when you only need to store data without associating keys to values.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
  - Dictionaries are considered unordered because their elements are stored based on hash values of keys. You retrieve data using keys, not positions.

20. Explain the difference between a list and a dictionary in terms of data retrieval ?
  - Lists use index positions to retrieve elements, meaning you access data by its order.
Dictionaries, on the other hand, use unique keys to retrieve values, allowing faster and more meaningful access.
Lists are better for ordered collections, while dictionaries are ideal for key-based lookups.

# Practical Questions

In [ ]:
# Write a code to create a string with your name and print it.

name = "Mohammed Nauman"
print(name)

Mohammed Nauman

In [ ]:
# Write a code to find the length of the string "Hello World".

string = "HelloWorld"
print(len(string))

10

In [ ]:
# Write a code to slice the first 3 characters from the string "Python Programming"

text = "Python Programming"
print(text[:3])

Pyt

In [ ]:
# Write a code to convert the string "hello" to uppercase

word = "hello"
print(word.upper())

HELLO

In [ ]:
# Write a code to replace the word "apple" with "orange" in the string "I like apple"

sentence = "I like apple"
print(sentence.replace("apple", "orange"))

I like orange

In [ ]:
# Write a code to create a list with numbers 1 to 5 and print it

numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
# Write a code to append the number 10 to the list [1, 2, 3, 4]

numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [ ]:
#  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [ ]:
# Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [ ]:
# Write a code to reverse the list [10, 20, 30, 40, 50].

numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [ ]:
#  Write a code to create a tuple with the elements 100, 200, 300 and print it.

tup = (100, 200, 300)
print(tup)

(100, 200, 300)

In [ ]:
#  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [ ]:
# Write a code to find the minimum number in the tuple (10, 20, 5, 15).

numbers = (10, 20, 5, 15)
print(min(numbers))

5

In [ ]:
# Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

In [ ]:
#  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits = ('apple', 'banana', 'kiwi')
print("kiwi" in fruits)

True

In [ ]:
# Write a code to create a set with the elements 'a', 'b', 'c' and print it.

letters = {'a', 'b', 'c'}
print(letters)

{'a', 'c', 'b'}

In [ ]:
# Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

numbers = {1, 2, 3, 4, 5}
numbers.clear()
print(numbers)

set()

In [ ]:
# Write a code to remove the element 4 from the set {1, 2, 3, 4}.

numbers = {1, 2, 3, 4}
numbers.remove(4)
print(numbers)

{1, 2, 3}

In [ ]:
#  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [ ]:
#  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

In [ ]:
#  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

person = {"name": "Nauman", "age": 21, "city": "Bangalore"}
print(person)

{'name': 'Nauman', 'age': 21, 'city': 'Bangalore'}

In [ ]:
# Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

person = {'name': 'John', 'age': 25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
#  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

person = {'name': 'Alice', 'age': 30}
print(person["name"])

Alice

In [ ]:
# Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop("age")
print(person)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
# Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

person = {'name': 'Alice', 'city': 'Paris'}
print("city" in person)

True

In [ ]:
# Write a code to create a list, a tuple, and a dictionary, and print them all.

my_list = [1, 2, 3, 4, 5]
my_tuple = (10, 20, 30)
my_dict = {"name": "Rohan", "course": "Bcom"}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3, 4, 5]
(10, 20, 30)
{'name': 'Rohan', 'course': 'Bcom'}

In [ ]:
# Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
# result.(replaced)

import random
numbers = [random.randint(1, 100) for _ in range(5)]
numbers.sort()
print(numbers)

[25, 32, 46, 63, 91]

In [ ]:
# Write a code to create a list with strings and print the element at the third index.

words = ["apple", "banana", "cherry", "date", "fig"]
print(words[3])

date

In [ ]:
#  Write a code to combine two dictionaries into one and print the result.

dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined = dict1 | dict2
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
#  Write a code to convert a list of strings into a set.

fruits = ["apple", "banana", "apple", "cherry"]
fruit_set = set(fruits)
print(fruit_set)

{'banana', 'apple', 'cherry'}